$desktop: 680px;
$xldesktop: 1200px;
$ldesktop: 1000px;

.fold {
    background-color: #171717;
    padding: 1rem;
}

.fold-content {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
}

.fold-latest {
    @media (min-width: $xldesktop) {
        width: 50%;
    }

    img {
        display: block;
        width: 100%;
    }

    h3 {
        color: #d1d5db;
    }

    p {
        color: #848588;
    }

}

.fold-recent {
    gap: 30px;
    display: grid;
}

.fold-recent-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    img {
        display: inline-block;
        width: 150px;
    }

    h4 {
        color: #d1d5db;
    }

    p {
        color: #848588;
    }

    @media (min-width: $desktop) {
        img {
            width: 250px;
        }
    }

}

.fold-articles {
    @media (min-width: $xldesktop) {
        display: flex;
        gap: 30px;
        align-items: flex-start;
    }
}